.checkout-button {
    margin: auto;
    display: block;
    font-weight: 700;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
}

.checkout-cols {
    display: flex;
}

.checkout-cols h4 {
    margin-bottom: 1.5rem;
}

.checkout-cols > div {
    flex: 1;
    margin: 1rem;
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.3);
    padding: 1.25rem 1rem;
}

.checkout-cols > div:first-child {
    margin-left: 0;
}

.checkout-cols > div:last-child {
    margin-right: 0;
}

.main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}