<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>
    <NavLink href="pizza-store" class="nav-tab">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My orders</div>
    </NavLink>
</div>

@code {

}
